.app-container {
  max-width: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .app-container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .app-container {
    padding: 2rem;
  }
}