.title {
    font-weight: 400;
}

span.time::before {
    content: '.';
    margin: 0 0.2rem;
    font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .main-news {
    margin-bottom: 0.6rem;
    .title {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
}

  .extra-news {
      margin: 0.2rem 0;
      .title {
          font-size: 0.8rem;
          margin-bottom: 0.2rem;
      }
  }

  span.source, span.time {
      color: #9f9f9f;
      font-size: 0.6rem;
      letter-spacing: 0.02rem;
  }
}

@media only screen and (min-width: 600px) {
  .main-news {
    margin-bottom: 1rem;
    .title {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
}

.extra-news {
    margin: 0.5rem 0;
    .title {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
}

span.source, span.time {
    color: #9f9f9f;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}
}