.news-list {
  display: block;
  border: 1px solid #dfdfdf;
  // box-shadow: 1px 1px 7px #efefef;
  border-radius: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 1rem;
  position: relative;

  button {
    padding: 0;
    cursor: pointer;
    line-height: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    background-color: white;
    outline: none;
    transform: rotate(90deg);
    transition: transform 0.1s linear;
    position: absolute;
    right: 1.5rem;
    &.collapse {
      transform: rotate(270deg);
    }
  }
}